# Importing Libraries

In [42]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

# Importing Dataset

In [43]:
file = pd.read_csv(r"C:\Users\CCC\Downloads\Crop_recommendation_new1.csv")

In [44]:
file.head()

,N,P,K,temperature,humidity,ph,rainfall,label,land_type
0,40.0,49,47,42.933686,91.175675,6.501521,246.361327,papaya,Hilly
1,86.0,6,53,25.920302,83.472026,6.921848,42.106815,watermelon,Hilly
2,20.0,68,23,25.549606,63.954255,7.707332,63.183053,blackgram,plain
3,69.0,67,52,27.719490,94.438771,6.827306,82.830611,papaya,Hilly
4,93.0,83,46,29.382540,83.504237,5.765309,109.248665,banana,Hilly

In [45]:
file.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4327 entries, 0 to 4326
Data columns (total 9 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   N            4326 non-null   float64
 1   P            4327 non-null   int64
 2   K            4327 non-null   int64
 3   temperature  4327 non-null   float64
 4   humidity     4327 non-null   float64
 5   ph           4327 non-null   float64
 6   rainfall     4327 non-null   float64
 7   label        4327 non-null   object
 8   land_type    4327 non-null   object
dtypes: float64(5), int64(2), object(2)
memory usage: 304.4+ KB

In [46]:
file.describe()

,N,P,K,temperature,humidity,ph,rainfall
count,4326.000000,4327.000000,4327.000000,4327.000000,4327.000000,4327.000000,4327.000000
mean,50.047157,53.453894,48.288190,25.652914,71.301617,6.469779,101.166318
std,36.973849,33.235283,51.054886,5.091353,22.403944,0.774170,52.295036
min,0.000000,5.000000,5.000000,8.825675,14.258040,3.504752,20.211267
25%,21.000000,28.000000,20.000000,22.782419,60.078257,5.972715,64.178328
50%,36.500000,51.000000,31.000000,25.640044,80.303518,6.425420,93.923759
75%,84.000000,68.000000,49.000000,28.599768,90.037201,6.920171,120.951247
max,140.000000,145.000000,205.000000,43.675493,99.981876,9.935091,298.560117

In [47]:
file.shape

(4327, 9)

In [48]:
file.size

38943

In [49]:
file.ndim

2

In [50]:
file.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'label',
       'land_type'],
      dtype='object')

In [51]:
file = file.rename(columns={'label': 'crop'})

In [52]:
file.columns

Index(['N', 'P', 'K', 'temperature', 'humidity', 'ph', 'rainfall', 'crop',
       'land_type'],
      dtype='object')

In [53]:
file['crop'].value_counts()

crop
papaya         200
watermelon     200
mungbean       200
pomegranate    200
maize          200
pigeonpeas     200
mango          200
chickpea       200
jute           200
orange         200
grapes         200
coffee         200
cotton         200
lentil         200
muskmelon      200
kidneybeans    200
mothbeans      200
apple          200
coconut        200
banana         200
blackgram      200
rice           127
Name: count, dtype: int64

# Data Cleaning

In [54]:
file.isnull().sum()

N              1
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
crop           0
land_type      0
dtype: int64

In [55]:
file.dropna(subset=['N'],inplace=True)

In [56]:
file.isnull().sum()

N              0
P              0
K              0
temperature    0
humidity       0
ph             0
rainfall       0
crop           0
land_type      0
dtype: int64

In [57]:
file.duplicated().sum()

0

# Data Visualization and Data Insight

In [58]:
# cor=file.corr()
# sns.heatmap(cor,annot=True,cbar=True, cmap='coolwarm')

In [59]:
crop_dict = {
    'rice': 1,
    'maize': 2,
    'jute': 3,
    'cotton': 4,
    'coconut': 5,
    'papaya': 6,
    'orange': 7,
    'apple': 8,
    'muskmelon': 9,
    'watermelon': 10,
    'grapes': 11,
    'mango': 12,
    'banana': 13,
    'pomegranate': 14,
    'lentil': 15,
    'blackgram': 16,
    'mungbean': 17,
    'mothbeans': 18,
    'pigeonpeas': 19,
    'kidneybeans': 20,
    'chickpea': 21,
    'coffee': 22
}
file['crop_num']=file['crop'].map(crop_dict)

In [68]:
file['land_type'].value_counts()

land_type
Hilly    2200
plain    2126
Name: count, dtype: int64

In [70]:
file['land_type_num']=file['land_type'].map({"Hilly":0,"plain":1})

In [69]:
file['crop_num'].value_counts()

crop_num
6     200
10    200
17    200
2     200
19    200
12    200
21    200
3     200
7     200
11    200
22    200
4     200
15    200
9     200
20    200
18    200
8     200
5     200
13    200
16    200
14    199
1     127
Name: count, dtype: int64

In [71]:
file.head()

,N,P,K,temperature,humidity,ph,rainfall,crop,land_type,crop_num,land_type_num
0,40.0,49,47,42.933686,91.175675,6.501521,246.361327,papaya,Hilly,6,0
1,86.0,6,53,25.920302,83.472026,6.921848,42.106815,watermelon,Hilly,10,0
2,20.0,68,23,25.549606,63.954255,7.707332,63.183053,blackgram,plain,16,1
3,69.0,67,52,27.719490,94.438771,6.827306,82.830611,papaya,Hilly,6,0
4,93.0,83,46,29.382540,83.504237,5.765309,109.248665,banana,Hilly,13,0

# Model Building

In [72]:
x=file.drop(columns=['crop','crop_num','land_type'],axis=1)
y=file['crop_num']

In [73]:
x.head()

      N   P   K  temperature   humidity        ph    rainfall  land_type_num
0  40.0  49  47    42.933686  91.175675  6.501521  246.361327              0
1  86.0   6  53    25.920302  83.472026  6.921848   42.106815              0
2  20.0  68  23    25.549606  63.954255  7.707332   63.183053              1
3  69.0  67  52    27.719490  94.438771  6.827306   82.830611              0
4  93.0  83  46    29.382540  83.504237  5.765309  109.248665              0

In [75]:
y.head()

0     6
1    10
2    16
3     6
4    13
Name: crop_num, dtype: int64

In [101]:
from sklearn.model_selection import train_test_split
x_train,x_test,y_train,y_test=train_test_split(x,y,test_size=0.2,random_state=69)

In [77]:
print(file.shape)
print(x_train.shape)
print(y_train.shape)
print(x_test.shape)
print(y_test.shape)

(4326, 11)
(3460, 8)
(3460,)
(866, 8)
(866,)

In [78]:
from sklearn.preprocessing import MinMaxScaler
ms = MinMaxScaler()

x_train = ms.fit_transform(x_train)
x_test = ms.transform(x_test)

In [79]:
x_train

array([[0.00714286, 0.17857143, 0.025     , ..., 0.5888731 , 0.29950143,
        1.        ],
       [0.42142857, 0.40714286, 0.39      , ..., 0.71530353, 0.18946777,
        0.        ],
       [0.1       , 0.09285714, 0.125     , ..., 0.26227435, 0.27136736,
        0.        ],
       ...,
       [0.63571429, 0.25      , 0.19      , ..., 0.56284718, 0.60988163,
        1.        ],
       [0.28571429, 0.46428571, 0.075     , ..., 0.32949086, 0.45563284,
        1.        ],
       [0.62142857, 0.16428571, 0.125     , ..., 0.47150308, 0.53395979,
        1.        ]])

In [81]:
from sklearn.preprocessing import StandardScaler
sc = StandardScaler()


sc.fit(x_train)
x_train = sc.transform(x_train)
x_test = sc.transform(x_test)

In [86]:
x_train

array([[-1.33516119, -0.69636704, -0.74863985, ...,  1.07762977,
         0.05476724,  1.01279866],
       [ 0.2285032 ,  0.27421112,  0.70148134, ...,  2.13986509,
        -0.52962673, -0.98736308],
       [-0.98468469, -1.06033385, -0.35134637, ..., -1.66636743,
        -0.09465413, -0.98736308],
       ...,
       [ 1.03729512, -0.39306136, -0.09310561, ...,  0.85896677,
         1.70321117,  1.01279866],
       [-0.28373169,  0.51685566, -0.54999311, ..., -1.10163189,
         0.88398853,  1.01279866],
       [ 0.98337566, -0.75702817, -0.35134637, ...,  0.09151756,
         1.29998667,  1.01279866]])

In [114]:
from sklearn.linear_model import LogisticRegression
from sklearn.naive_bayes import GaussianNB
from sklearn.svm import SVC
from sklearn.neighbors import KNeighborsClassifier
from sklearn.tree import DecisionTreeClassifier
from sklearn.tree import ExtraTreeClassifier
from sklearn.ensemble import RandomForestClassifier
from sklearn.ensemble import BaggingClassifier
from sklearn.ensemble import GradientBoostingClassifier
from sklearn.ensemble import AdaBoostClassifier
from sklearn.metrics import accuracy_score

# create instances of all models
models = {
    'Logistic Regression': LogisticRegression(),
    'Naive Bayes': GaussianNB(),
    'Support Vector Machine': SVC(),
    'K-Nearest Neighbors': KNeighborsClassifier(),
    'Decision Tree': DecisionTreeClassifier(),
    'Random Forest': RandomForestClassifier(),
    'Bagging': BaggingClassifier(),
    'AdaBoost': AdaBoostClassifier(),
    'Gradient Boosting': GradientBoostingClassifier(),
    'Extra Trees': ExtraTreeClassifier(),
}


for name, md in models.items():
    md.fit(x_train,y_train)
    ypred = md.predict(x_test)
    
    print(f"{name}  with accuracy : {(accuracy_score(y_test,ypred).round(3))*100} %  ")

C:\Users\CCC\anaconda3\Lib\site-packages\sklearn\linear_model\_logistic.py:460: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

Logistic Regression  with accuracy : 96.39999999999999 %
Naive Bayes  with accuracy : 99.3 %
Support Vector Machine  with accuracy : 98.0 %
K-Nearest Neighbors  with accuracy : 98.6 %
Decision Tree  with accuracy : 99.7 %
Random Forest  with accuracy : 99.5 %
Bagging  with accuracy : 99.5 %
AdaBoost  with accuracy : 12.0 %
Gradient Boosting  with accuracy : 99.8 %
Extra Trees  with accuracy : 97.2 %

In [118]:
rfc = RandomForestClassifier()
rfc.fit(x_train,y_train)
ypred = rfc.predict(x_test)
print(accuracy_score(y_test,ypred))
def recommendation(N,P,k,temperature,humidity,ph,rainfal,land_type):
    features = np.array([[N,P,k,temperature,humidity,ph,rainfal,land_type]])
    transformed_features = ms.fit_transform(features)
    transformed_features = sc.fit_transform(transformed_features)
    prediction = rfc.predict(transformed_features).reshape(1,-1)
    
    return prediction[0]

0.9953810623556582

In [122]:
N = 40
P = 50
k = 50
temperature = 40.0
humidity = 20
ph = 100
rainfall = 100
land_type = 0
predict = recommendation(N,P,k,temperature,humidity,ph,rainfall,land_type)
# print(predict)

crop_dict = {1: "Rice", 2: "Maize", 3: "Jute", 4: "Cotton", 5: "Coconut", 6: "Papaya", 7: "Orange",
                 8: "Apple", 9: "Muskmelon", 10: "Watermelon", 11: "Grapes", 12: "Mango", 13: "Banana",
                 14: "Pomegranate", 15: "Lentil", 16: "Blackgram", 17: "Mungbean", 18: "Mothbeans",
                 19: "Pigeonpeas", 20: "Kidneybeans", 21: "Chickpea", 22: "Coffee"}

fertilizer_dict =  {1: ["10-14-14",""], 2: "Maize", 3: "Jute", 4: "Cotton", 5: "Coconut", 6: "Papaya", 7: "Orange",
                 8: "Apple", 9: "Muskmelon", 10: "Watermelon", 11: "Grapes", 12: "Mango", 13: "Banana",
                 14: "Pomegranate", 15: "Lentil", 16: "Blackgram", 17: "Mungbean", 18: "Mothbeans",
                 19: "Pigeonpeas", 20: "Kidneybeans", 21: "Chickpea", 22: "Coffee"}

if predict[0] in crop_dict:
    crop = crop_dict[predict[0]]
    print("{} is a best crop to be cultivated ".format(crop))
else:
    print("Sorry are not able to recommend a proper crop for this environment")

Kidneybeans is a best crop to be cultivated

C:\Users\CCC\anaconda3\Lib\site-packages\sklearn\base.py:464: UserWarning: X does not have valid feature names, but RandomForestClassifier was fitted with feature names
  warnings.warn(

In [124]:
import wikipedia
res=wikipedia.page("10-14-14 fertilizer")
# print(res)
res=res.content

print(res.summary(sentence=5))

AttributeError: 'str' object has no attribute 'summary'

In [128]:
resSummary=wikipedia.summary("10-14-14 fertilizer",sentences=5)
resSummary

'A fertilizer (American English) or fertiliser (British English) is any material of natural or synthetic origin that is applied to soil or to plant tissues to supply plant nutrients. Fertilizers may be distinct from liming materials or other non-nutrient soil amendments. Many sources of fertilizer exist, both natural and industrially produced. For most modern agricultural practices, fertilization focuses on three main macro nutrients: nitrogen (N), phosphorus (P), and potassium (K) with occasional addition of supplements like rock flour for micronutrients. Farmers apply these fertilizers in a variety of ways: through dry or pelletized or liquid application processes, using large agricultural equipment or hand-tool methods.'

In [130]:
!pip install googlesearch

ERROR: Could not find a version that satisfies the requirement googlesearch (from versions: none)
ERROR: No matching distribution found for googlesearch

In [129]:
from googlesearch import search

def get_google_results(keyword, num_results=5):
    try:
        search_results = search(keyword, num_results=num_results, stop=num_results)
        return search_results
    except Exception as e:
        print(f"An error occurred: {e}")
        return []

def main():
    keyword = input("Enter the keyword to search on Google: ")
    num_results = int(input("Enter the number of results to retrieve: "))

    results = get_google_results(keyword, num_results)

    if results:
        print("\nGoogle Search Results:")
        for i, result in enumerate(results, start=1):
            print(f"{i}. {result}")
    else:
        print("No results found.")

if __name__ == "__main__":
    main()

ModuleNotFoundError: No module named 'googlesearch'

In [2]:
from flask import Flask,request,render_template
import numpy as np
import pandas
import sklearn
import pickle

# importing model
model = pickle.load(open(r'C:\Users\CCC\Downloads\project\model.pkl','rb'))
sc = pickle.load(open('standscaler.pkl','rb'))
ms = pickle.load(open('minmaxscaler.pkl','rb'))

# creating flask app
app = Flask(__name__)

@app.route('/')
def index():
    return render_template("index.html")

@app.route("/predict",methods=['POST'])
def predict():
    N = request.form['Nitrogen']
    P = request.form['Phosporus']
    K = request.form['Potassium']
    temp = request.form['Temperature']
    humidity = request.form['Humidity']
    ph = request.form['Ph']
    rainfall = request.form['Rainfall']

    feature_list = [N, P, K, temp, humidity, ph, rainfall]
    single_pred = np.array(feature_list).reshape(1, -1)

    scaled_features = ms.transform(single_pred)
    final_features = sc.transform(scaled_features)
    prediction = model.predict(final_features)

    crop_dict = {1: "Rice", 2: "Maize", 3: "Jute", 4: "Cotton", 5: "Coconut", 6: "Papaya", 7: "Orange",
                 8: "Apple", 9: "Muskmelon", 10: "Watermelon", 11: "Grapes", 12: "Mango", 13: "Banana",
                 14: "Pomegranate", 15: "Lentil", 16: "Blackgram", 17: "Mungbean", 18: "Mothbeans",
                 19: "Pigeonpeas", 20: "Kidneybeans", 21: "Chickpea", 22: "Coffee"}

    if prediction[0] in crop_dict:
        crop = crop_dict[prediction[0]]
        result = "{} is the best crop to be cultivated right there".format(crop)
    else:
        result = "Sorry, we could not determine the best crop to be cultivated with the provided data."
    return render_template('index.html',result = result)




# python main
if __name__ == "__main__":
    app.run(debug=True)

C:\Users\CCC\anaconda3\Lib\site-packages\sklearn\base.py:347: InconsistentVersionWarning: Trying to unpickle estimator DecisionTreeClassifier from version 1.2.2 when using version 1.3.0. This might lead to breaking code or invalid results. Use at your own risk. For more info please refer to:
https://scikit-learn.org/stable/model_persistence.html#security-maintainability-limitations
  warnings.warn(

ValueError: node array from the pickle has an incompatible dtype:
- expected: {'names': ['left_child', 'right_child', 'feature', 'threshold', 'impurity', 'n_node_samples', 'weighted_n_node_samples', 'missing_go_to_left'], 'formats': ['<i8', '<i8', '<i8', '<f8', '<f8', '<i8', '<f8', 'u1'], 'offsets': [0, 8, 16, 24, 32, 40, 48, 56], 'itemsize': 64}
- got     : [('left_child', '<i8'), ('right_child', '<i8'), ('feature', '<i8'), ('threshold', '<f8'), ('impurity', '<f8'), ('n_node_samples', '<i8'), ('weighted_n_node_samples', '<f8')]

In [3]:
import tkinter as tk

class HelloWorldApp:
    def __init__(self, master):
        self.master = master
        master.title("Hello World App")

        self.label = tk.Label(master, text="Hello, World!")
        self.label.pack()

        self.quit_button = tk.Button(master, text="Quit", command=master.quit)
        self.quit_button.pack()

if __name__ == "__main__":
    root = tk.Tk()
    app = HelloWorldApp(root)
    root.mainloop()

In [4]:
import tkinter as tk

def on_submit():
    user_input = entry.get()
    result_label.config(text=f"User Input: {user_input}")

# Create the main application window
app = tk.Tk()
app.title("User Input App")

# Create a label and entry for user input
label = tk.Label(app, text="Enter N")
label.pack()
label = tk.Label(app, text="Enter your data:")
label.pack()

entry = tk.Entry(app)
entry.pack()

# Create a button to submit the data
submit_button = tk.Button(app, text="Submit", command=on_submit)
submit_button.pack()

# Create a label to display the result
result_label = tk.Label(app, text="")
result_label.pack()

# Run the application
app.mainloop()

In [7]:
!pip install Flask scikit-learn

Requirement already satisfied: Flask in c:\users\ccc\anaconda3\lib\site-packages (2.2.2)
Requirement already satisfied: scikit-learn in c:\users\ccc\anaconda3\lib\site-packages (1.3.0)
Requirement already satisfied: Werkzeug>=2.2.2 in c:\users\ccc\anaconda3\lib\site-packages (from Flask) (2.2.3)
Requirement already satisfied: Jinja2>=3.0 in c:\users\ccc\anaconda3\lib\site-packages (from Flask) (3.1.2)
Requirement already satisfied: itsdangerous>=2.0 in c:\users\ccc\anaconda3\lib\site-packages (from Flask) (2.0.1)
Requirement already satisfied: click>=8.0 in c:\users\ccc\anaconda3\lib\site-packages (from Flask) (8.0.4)
Requirement already satisfied: numpy>=1.17.3 in c:\users\ccc\anaconda3\lib\site-packages (from scikit-learn) (1.24.3)
Requirement already satisfied: scipy>=1.5.0 in c:\users\ccc\anaconda3\lib\site-packages (from scikit-learn) (1.11.1)
Requirement already satisfied: joblib>=1.1.1 in c:\users\ccc\anaconda3\lib\site-packages (from scikit-learn) (1.2.0)
Requirement already satisfied: threadpoolctl>=2.0.0 in c:\users\ccc\anaconda3\lib\site-packages (from scikit-learn) (2.2.0)
Requirement already satisfied: colorama in c:\users\ccc\anaconda3\lib\site-packages (from click>=8.0->Flask) (0.4.6)
Requirement already satisfied: MarkupSafe>=2.0 in c:\users\ccc\anaconda3\lib\site-packages (from Jinja2>=3.0->Flask) (2.1.1)